@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo/a</h1>
    <p>Aprenda sobre <a href="https://learn.microsoft.com/aspnet/core">construir Web apps com ASP.NET Core</a>.</p>
</div>
